body {
  border: 0px; 
  background-color: white; 
  margin: 0px; 
  font-family: Segoe UI; 
  font-size: 11px; 
  color: #666666
}

table {
  border-spacing: 0px;
  font-family: Segoe UI; 
  font-size: 11px; 
  color: #666666
}

th, td { padding: 0px; }

input {
   vertical-align: middle; 
   margin-top: -1px;
}

label {
  margin-right: 12px;
  display: inline-block;
}

div.container {
  margin-top: 1px;
  margin-bottom: 1px;
}

div.loadingImageContainer {
  margin-left: 10px;
  margin-top: 10px;
}

div.errorNotification {
  margin: 10px;
}

span.errorTitle {
  font-size: 1.25em;
  font-weight: bold;
  color: red;
}

div.modeNotification {
  font-style: italic
}

div.description {
  font-size: 0.95em;
  color: lightslategrey;
  margin-left: 4px;
  margin-bottom: 10px;
}